@mixin flex($justify-content: false, $align-items: false, $flex-direction: false) {
	display: flex;
	@if ($justify-content) {
		justify-content: $justify-content;
	}
	@if ($align-items) {
		align-items: $align-items;
	}
	@if ($flex-direction) {
		flex-direction: $flex-direction;
	}
}

@mixin bg-gradient($gradient) {
	background: linear-gradient($gradient);
}
