.search {
	position: relative;
	@include flex(center, center);
	width: 5rem;
	height: 5rem;
	border: 0.3rem solid $color-blue3;
	border-radius: 5rem;
	transition: width 500ms $cubic-bezier;
	&__form {
		@include flex(center, center);
		margin-right: auto;
		margin-left: 0.2rem;
		width: 4rem;
		height: 4rem;
		border: 0.1rem solid $color-blue3;
		border-radius: 50%;
	}
	&__input {
		position: absolute;
		display: none;
		right: 0.2rem;
		width: calc(100% - 5rem);
		height: 80%;
		outline: 0;
		border: none;
		background-color: transparent;
		&::placeholder {
			padding-right: 0.5rem;
			color: $color-gray4;
		}
	}
	&__btn {
		position: relative;
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		outline: 0;
		border: none;
		cursor: pointer;
		background-color: transparent;
	}
	&__circle {
		position: absolute;
		width: 2rem;
		height: 2rem;
		top: 0;
		left: 0;
		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 1.8rem;
			height: 0.9rem;
			border: 0.5rem solid $color-blue3;
			transition: all 100ms ease;
		}
		&::before {
			top: 0.2rem;
			left: 0.2rem;
			border-bottom: 0;
			border-top-right-radius: 1rem;
			border-top-left-radius: 1rem;
		}
		&::after {
			top: 1.1rem;
			left: 0.2rem;
			border-top: 0;
			border-bottom-right-radius: 1rem;
			border-bottom-left-radius: 1rem;
		}
	}
	&__stand {
		position: absolute;
		top: 2rem;
		left: 1.5rem;
		width: 1.5rem;
		height: 0.4rem;
		background-color: transparent;
		transform: rotate(45deg);
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0.2rem;
			width: 1.5rem;
			height: 0.4rem;
			background-color: $color-blue3;
			border-radius: 1rem;
			transition: all 100ms ease;
		}
	}
	&:focus-within {
		width: 20rem;
		@media only screen and (max-width: 768px) {
			width: 13rem;
		}
		.search__input {
			display: block;
		}
		.search__circle {
			left: -0.3rem;
			top: 0.4rem;
			&::before,
			&::after {
				border-radius: 0.5rem;
				background-color: $color-blue3;
				width: 1.5rem;
				height: 0.4rem;
			}
			&::before {
				top: 0.3rem;
				transform: rotate(-45deg);
			}
			&::after {
				transform: rotate(45deg);
			}
		}
		.search__stand {
			top: 1.5rem;
			left: 1.1rem;
			transform: rotate(0deg);
			&::before {
				top: -0.8rem;
				height: 0.5rem;

				transform: rotate(-45deg);
			}
			&::after {
				transform: rotate(45deg);
				height: 0.5rem;
			}
		}
	}
}
