html {
	font-size: 62.5%;
}
body {
	font-family: IRANSans !important;
	font-size: 1.5rem;
	font-weight: 300;
	direction: rtl;
	background-color: #f5f5f5;
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
button {
	font-family: IRANSans !important;
}
h1 {
	font-weight: bold;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: $color-blue1;
	transition: color 0.3s ease;
}
a:hover {
	color: $color-orange1;
}
